<%= form_with model: @track, url: tracks_path, method: :post, local: true, multipart: true do |form| %>
  <div class="input-section">
    <button id="add-track" class="add-track-btn" type="button">New Track</button>
    <div id="track-options" class="hidden">
      <div class="button-container">
        <button id="track-reset-button" type="button"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
        <button id="youtube-url-track-btn" type="button">Post URL from YouTube</button>
        <button id="upload-track-btn" type="button">Upload Your Own</button>
      </div>
      <div id="youtube-url-track-form" class="form-container hidden">
        <%= form.text_field :track_url, placeholder: "Enter YouTube URL", class: "track-input" %>
      </div>
      <div id="upload-track-form" class="form-container hidden">
        <label for="file-upload" class="file-upload">
          Choose File
          <%= form.file_field :audio_file, accept: 'audio/mpeg', class: "audio-file-input", id: "file-upload" %>
        </label>
      </div>
      <%= form.hidden_field :sound, value: false %>
      <%= form.submit "Add Sound Effect", id: "add-track-final-btn", class: "hidden" %>
    </div>
  </div>
<% end %>