<%= javascript_include_tag "application" %>

<div class="container">
  <div class="left-panel">
    <%= render 'tracks/form_track' %>
    <!-- Track list -->
    <ul class="track-list">
      <% @tracks&.each do |track| %>
        <% if track.sound == false %>
          <li class="track-item">
            <% if track.source == "youtube" || track.source == "upload" %>
              <% video_id = track.source == "youtube" ? extract_youtube_video_id(track.url) : nil %>
              <% audio_file = track.source == "upload" ? url_for(track.audio_file) : nil %>
              <div class="track-details">
                <div class="track-controls">
                  <button id="btn-<%= track.id %>" class="play-btn" data-video-id="<%= track.id %>" data-video-source="<%= track.source %>"><i class="fa-solid fa-play"></i></button>
                  <button class="loop-btn" data-video-id="<%= track.id %>" data-video-source="<%= track.source %>"><i class="fa-solid fa-repeat"></i></button>
                  <span class="track-name" data-track-id="<%= track.id %>"><%= track.name %></span>
                  <% if track.source == "youtube" %>
                    <input type="range" min="0" max="100" value="100" step="5" class="volume-slider" style="margin-left:50px" data-video-id="<%= track.id %>" data-video-source="<%= track.source %>">
                  <% elsif track.source == "upload" %>
                    <input type="range" min="0" max="1" value="1" step="0.1" class="volume-slider" style="margin-left:50px" data-video-id="<%= track.id %>" data-video-source="<%= track.source %>">
                  <% end %>
                  <div class="delete-btn-container">
                    <%= button_to raw('<i class="fa-solid danger fa-trash"></i>'), track_path(track), method: :delete, remote: true, class: 'delete-btn', data: { track_id: track.id }, confirm: 'Are you sure?' %>
                  </div>
                </div>
              </div>
              <% if track.source == "youtube" %>
                <div id="player-container" style="display: none;">
                  <iframe id="player-<%= track.id %>" src="http://www.youtube.com/embed/<%= video_id %>?enablejsapi=1" frameborder="0"></iframe>
                </div>
              <% elsif track.source == "upload" %>
                <div id="player-container" style="display: none;">
                  <audio controls id="player-<%= track.id %>">
                    <source src="<%= audio_file %>" type="audio/mpeg">
                    Your browser does not support the audio element.
                  </audio>
                </div>
              <% end %>
            <% else %>
              <p class="invalid-source">Invalid Source</p>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="right-panel">
    <%= render 'tracks/form_sound' %>
    <!-- Sound Effects Grid -->
    <div class="sound-effects-grid">
      <% @tracks&.each do |track| %>
        <% if track.sound == true %>
          <% video_id = track.source == "youtube" ? extract_youtube_video_id(track.url) : nil %>
          <% audio_file = track.source == "upload" ? url_for(track.audio_file) : nil %>
          <div class="sound-effect-item">
            <button id="btn-<%= track.id %>" class="play-btn" data-video-id="<%= track.id %>" data-video-source="<%= track.source %>"><i class="fa-solid fa-play"></i></button>
            <span class="track-name" data-track-id="<%= track.id %>"><%= track.name %></span>
            <% if track.source == "youtube" %>
              <input type="range" min="0" max="100" value="100" step="5" class="volume-slider" data-video-id="<%= track.id %>" data-video-source="<%= track.source %>">
            <% elsif track.source == "upload" %>
              <input type="range" min="0" max="1" value="1" step="0.1" class="volume-slider" data-video-id="<%= track.id %>" data-video-source="<%= track.source %>">
            <% end %>
            <% if track.source == "youtube" %>
              <div id="player-container" style="display: none;">
                <iframe id="player-<%= track.id %>" src="http://www.youtube.com/embed/<%= video_id %>?enablejsapi=1" frameborder="0"></iframe>
              </div>
            <% elsif track.source == "upload" %>
              <div id="player-container" style="display: none;">
                <audio controls id="player-<%= track.id %>">
                  <source src="<%= audio_file %>" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
            <% end %>
            <select id="select-folders-<%= track.id %>" class="folder-choice" multiple="multiple" data-track-id="<%= track.id %>">
              <% @folders&.each do |folder| %>
                <option value="<%= folder.id %>"><%= folder.name %></option>
              <% end %>
            </select>
            <div class="delete-btn-container">
              <%= button_to raw('<i class="fa-solid danger fa-trash"></i>'), track_path(track), method: :delete, remote: true, class: 'delete-btn', data: { track_id: track.id }, confirm: 'Are you sure?' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="folders-section">
      <div class="add-folder-bar">
        <span class="add-folder-icon"><i class="fas fa-plus"></i> New Folder</span>
        <div class="add-folder-input hidden">
          <%= form_with model: @folder, url: folders_path, method: :post, local: true, html: { id: 'new-folder-form' } do |form| %>
            <div class="new-folder-section">
              <%= form.text_field :name, placeholder: "Enter Folder Name", name: 'folder[name]', class: 'new-folder-name-input' %>
              <%= form.submit "Add Folder", class: "add-folder-btn" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="folder-items">
        <% @folders&.each do |folder| %>
          <div class="folder-item" data-folder-id="<%= folder.id %>">
            <span class="folder-icon"><i class="fas fa-folder"></i></span>
            <span class="folder-name"><%= folder.name %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
