<%= javascript_include_tag "application" %>

<%= form_with model: @track, url: tracks_path, method: :post, local: true do |form| %>
  <div class="input-section">
    <%= form.text_field :track_url, placeholder: "Enter YouTube or Spotify URL", class: "track-input" %>
    <%= form.submit "Add Track", class: "add-track-btn" %>
  </div>
<% end %>

<div class="container">
  <div class="left-panel">
    <!-- Your track list -->
    <ul class="track-list">
      <% @tracks.each do |track| %>
        <% video_id = extract_youtube_video_id(track.url) %>
        <li class="track-item">
          <% if track.source == "youtube" %>
            <div class="track-details">
              <div class="track-controls">
                <button id="btn-<%= track.id %>" class="play-btn" data-video-id="<%= track.id %>" data-video-source="<%= track.source %>"><i class="fa-solid fa-play"></i></button>
                <button class="loop-btn" data-video-id="<%= track.id %>"><i class="fa-solid fa-repeat"></i></button>
                <span class="track-name" data-track-id="<%= track.id %>"><%= track.name %></span>
                <input type="range" min="0" max="100" value="100" step="5" class="volume-slider" style="margin-left:50px" data-video-id="<%= track.id %>">
              </div>
              <%= button_to raw('<i class="fa-solid danger fa-trash"></i>'), track_path(track), method: :delete, remote: true, class: 'delete-btn', data: { track_id: track.id }, confirm: 'Are you sure?' %>
            </div>
            <div id="player-container" style="display: none;">
              <iframe id="player-<%= track.id %>" src="http://www.youtube.com/embed/<%= video_id %>?enablejsapi=1" frameborder="0"></iframe>
            </div>
          <% else %>
            <p class="invalid-source">Invalid Source</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="right-panel">
    <!-- Empty div on the right side -->
    <!-- This div is initially empty -->
  </div>
</div>
